@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald');



body {
    margin: 0;
    padding: 0;
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
}

.container {
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.box-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.container h1{
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 100;
    font-family: 'Oswald', sans-serif;

}

.container h5 {
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
}

.container p {
    text-align: left;
}

ul {
    margin: 0;
    padding: 0;
}

.container li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.container li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
}

p {
    font-family: 'Roboto Slab', serif;

}

.center {
    text-align: center;
}

.border {
    border: 2px solid white;
}

